html(lang="ru") 
	head
		include pug-includes/head.pug
		title Ошибка
body
	main#app.messenger-wrapper
		
		div.warning-message-wrapper.warning-on 
					
			div.warning-message-table
				div.warning-message-block
					div.loader.none-block //убрать none-block для показа
					div.warning-message.error-message
						div.error-message-header 404
						span Страница не найдена
						div.warning-buttons-wrapper
							a.warning-button.warning-add(href="chat.html") Назад



