html(lang="ru") 
	head
		include pug-includes/head.pug
		title Мой профиль
	body
		main#app.messenger-wrapper
			div.reg-form-page
				div.reg-form-wrapper
					h2 Мой профиль
					form
						fieldset
							label.image-form-block(for="photoImageUpload")
								input#photoImageUpload.load-image(hidden accept="image/*" type="file")
								img#photoImage(src="#" alt="" title="Загрузка изображения")
							include pug-includes/reg-form-inner.pug
							div.form-block.buttons-wrapper
								a.button-link.add-link(href="chat.html") Изменить данные
								a.button-link.reg-link(href="chat.html") Назад