html(lang="ru") 
	head
		include pug-includes/head.pug
		title #{title}
	body
		main#app.messenger-wrapper
			div.reg-form-page
				div.reg-form-wrapper
					h2 #{title}
					form
						fieldset
							include pug-includes/reg-form-inner.pug
							div.form-block.buttons-wrapper
								a.button-link.add-link(href="chat") Зарегистрироваться
								a.button-link.reg-link(href="/") Назад