- 
	const regFormDatas = [
		{
			label: 'E-mail',
			name: 'email',
			type: 'text'
		},
		{
			label: 'Логин',
			name: 'login',
			type: 'text'
		},
		{
			label: 'Фамилия',
			name: 'second_name',
			type: 'text'
		},
		{
			label: 'Имя',
			name: 'first_name',
			type: 'text'
		},
		{
			label: 'Телефон',
			name: 'phone',
			type: 'text'
		},
		{
			label: 'Пароль',
			name: 'password',
			type: 'password'
		},
		{
			label: 'Повторите пароль',
			name: 'repeat_password',
			type: 'password'
		},
	];

each data in regFormDatas
	div.form-block
		label.form-label= data.label
		div.input-wrapper
			input.form-control.input-styles(type=data.type value="" name=data.name)
			div.error-text-block.none-block
// Позже предусмотреть ссылку для открытия полей в случае изменения пароля
div.form-block.info-block.none-block
		
		



