div.form-block
	label E-mail
	div.input-wrapper
		input.form-control.email-input.input-styles(type="text" value="" name="email")
		div.error-text-block.none-block
div.form-block
	label Логин
	div.input-wrapper
		input.form-control.input-styles(type="text" value="" name="login")
		div.error-text-block.none-block
div.form-block
	label Фамилия
	div.input-wrapper
		input.form-control.input-styles(type="text" value="" name="second_name")
		div.error-text-block.none-block
div.form-block
	label Имя
	div.input-wrapper
		input.form-control.input-styles(type="text" value="" name="first_name")
		div.error-text-block.none-block
div.form-block
	label Телефон
	div.input-wrapper
		input.form-control.input-styles.phone-input(type="text" value="" name="phone")
		div.error-text-block.none-block
// Позже предусмотреть ссылку для открытия полей в случае изменения пароляы
div.form-block
	label Пароль
	div.input-wrapper
		input.form-control.input-styles(type="password" value="" name="password")
		div.error-text-block.none-block
div.form-block
	label Повторите пароль
	div.input-wrapper
		input.form-control.input-styles(type="password" value="" name="")
		div.error-text-block.none-block
div.form-block.info-block.none-block
		
		



