- 
	const loginFormDatas = [
		{
			label: 'Логин',
			name: 'login',
			type: 'text'
		},
		{
			label: 'Пароль',
			name: 'password',
			type: 'password'
		},
	]
html(lang="ru")
	head
		include pug-includes/head.pug
		title Вход
	body
		main#app.messenger-wrapper